*.egg-info/
*.log
*.prof
*.pyc
.benchmarks
.cache/
.coverage
.directory
.eggs/
.idea
.ipynb_checkpoints/
.tox/
.venv/
.venv34/
.venvgt/
Untitled.ipynb
_build/
build/
coverage.xml
dist/
htmlcov
main.py
