include LICENSE tox.ini .pylintrc .travis.yml
recursive-include tests *
recursive-include docs *
recursive-include scripts *
global-exclude .ipynb_checkpoints/*
global-exclude *.pyc
global-exclude *.pyo
prune docs/_build
