graft docs
graft src
graft tests
graft bin
graft lib

include .bumpversion.cfg
include .coveragerc
include .editorconfig

include CHANGELOG.rst
include LICENSE
include README.rst
include TODO.rst

include tox.ini .travis.yml setup_ext.py

global-exclude *.py[cod] __pycache__ *.so *.dylib *.kdev4

global-exclude .ipynb_checkpoints/*

prune docs/_build
prune lib/libsokoengine/docs/_build
prune lib/libsokoengine/build
prune lib/libsokoengine/lib/cppitertools
prune lib/libsokoengine/lib/backward-cpp
prune lib/libsokoengine/lib/pybind11

recursive-include res *.ipynb
recursive-include res *.py
