graft src

prune bin
prune docs
prune res
prune src/libsokoengine/build
prune tests
prune src/libsokoengine/lib
prune .vscode
prune src/libsokoengine/.vscode

include LICENSE
include README.md

global-exclude *.py[cod] __pycache__ *.so *.dylib *.kdev4 .directory
global-exclude .ipynb_checkpoints/* .editorconfig .readthedocs.yml
global-exclude .pytest_cache .pytest_cache/*
global-exclude CHANGELOG.md TODO.md INSTALL.md tox.ini
