# Tests cmake builds on "release/" branches. Last check before release branch is
# merged into master.

name: build-PyPA

on:
  push:
    branches:
      # Usually we want to be 100% sure build is not broken when we create release/x.y.z
      # branch. Other times it just isn't worth the wait.
      - "release/**"


jobs:

  pypa_build:
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
        os: [ubuntu-latest, windows-latest]
        cpp-on: ['游릭', '游댮']
    runs-on: ${{ matrix.os }}
    name: "${{ matrix.os }} 游댳 游냀 ${{ matrix.python-version }} 游댳 C++ ${{ matrix.cpp-on }}"

    steps:
      - uses: actions/checkout@v3
      - name: "游닍 setup vcpkg"
        if: ${{ matrix.cpp-on == '游릭' }}
        uses: lukka/run-vcpkg@v10
        with:
          vcpkgDirectory: "${{ github.workspace }}/vcpkg"
          vcpkgGitCommitId: "4826ede84084395b0f87476e48ff6d4070eba0e4"
          appendedCacheKey: "pypa_build_${{ matrix.python-version }}${{ matrix.os }}"
      - name: "游닍 set up 游냀 ${{ matrix.python-version }}"
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: pyproject.toml
      - name: "游닍 ensure latest pip"
        run: python -m pip install --upgrade pip
      - name: "游닍 install build utilities"
        run: pip install build wheel twine check-manifest
      - name: check manifest
        run: check-manifest

      #---------------------------------------------------------------------------------
      # build without C++ extension
      #---------------------------------------------------------------------------------
      - name: "游닍 build sdist and wheel 游댳 C++ 游댮"
        if: ${{ matrix.cpp-on == '游댮' }}
        env:
          SOKOENGINEPYEXT_SKIP: true
        run: python -m build

      #---------------------------------------------------------------------------------
      # build with C++ extension
      #---------------------------------------------------------------------------------
      - name: "游닍 build sdist and wheel 游댳 C++ 游릭"
        if: ${{ matrix.cpp-on == '游릭' }}
        env:
          CMAKE_TOOLCHAIN_FILE: "${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake"
        run: python -m build

      #---------------------------------------------------------------------------------
      # check and upload results
      #---------------------------------------------------------------------------------
      - name: check sdist
        run: twine check dist/*.tar.gz
      - name: check wheel
        run: twine check dist/*.whl
      - name: upload sdist and wheel
        uses: actions/upload-artifact@v3
        with:
          name: sdist-wheels
          path: dist/
          retention-days: 5
