name: tests

on:
  push:
    branches-ignore:
      # Once thing had been pushed to master branch, tests have already had to run and
      # pass so no need to run them again
      - "master"
      # No tests are needed or possible on this branch
      - "gh-pages"


jobs:

  run_tests:
    strategy:
      matrix:
        python-version: ["3.9", "3.10"]
        os: [ubuntu-latest, windows-latest]
        cpp-on: ['游릭', '游댮']
    runs-on: ${{ matrix.os }}
    name: "${{ matrix.os }} 游댳 游냀 ${{ matrix.python-version }} 游댳 C++ ${{ matrix.cpp-on }}"

    steps:
      - uses: actions/checkout@v3
      - name: "游닍 setup vcpkg"
        if: ${{ matrix.cpp-on == '游릭' }}
        uses: lukka/run-vcpkg@v10
        with:
          vcpkgDirectory: "${{ github.workspace }}/vcpkg"
          vcpkgGitCommitId: "4826ede84084395b0f87476e48ff6d4070eba0e4"
          appendedCacheKey: "tests_${{ matrix.python-version }}${{ matrix.os }}"
      - name: "游닍 set up 游냀 ${{ matrix.python-version }}"
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
          cache-dependency-path: pyproject.toml
      - name: "游닍 ensure latest pip"
        run: python -m pip install --upgrade pip
      - name: "游닍 install wheel"
        run: pip install wheel

      #---------------------------------------------------------------------------------
      # install ourselves
      # TODO: pip install fails on Windows, vcpkg is not able to find globally installed cmake
      #---------------------------------------------------------------------------------
      - name: "游 游댳 游닍 install bundled cmake 游댳 C++ 游릭"
        if: ${{ matrix.cpp-on == '游릭' && matrix.os == 'windows-latest'}}
        run: pip install cmake
      - name: "install sokoenginepy 游댳 C++ 游댮"
        if: ${{ matrix.cpp-on == '游댮' }}
        env:
          SOKOENGINEPYEXT_SKIP: true
        run: pip install .[tests]
      - name: "install sokoenginepy 游댳 C++ 游릭"
        if: ${{ matrix.cpp-on == '游릭' }}
        env:
          CMAKE_TOOLCHAIN_FILE: "${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake"
        run: pip -v install .[tests]

      #---------------------------------------------------------------------------------
      # run tests
      # TODO: tests are currently broken on Windows
      #---------------------------------------------------------------------------------
      - name: "run tests 游댳 C++ 游댮"
        if: ${{ matrix.cpp-on == '游댮' && matrix.os != 'windows-latest' }}
        env:
          SOKOENGINEPY_EXPECT_CPP: false
        run: pytest
      - name: "run tests 游댳 C++ 游릭"
        if: ${{ matrix.cpp-on == '游릭' && matrix.os != 'windows-latest' }}
        env:
          SOKOENGINEPY_EXPECT_CPP: true
        run: pytest

      #---------------------------------------------------------------------------------
      # Tests coverage
      #---------------------------------------------------------------------------------
      # We need coverage data only from single tests run.
      - name: "游냖 游댳 run tests with coverage 游댳 游냀 3.9 游댳 C++ 游댮 "
        if: ${{ matrix.python-version == '3.9' && matrix.os == 'ubuntu-latest' && matrix.cpp-on == '游댮'}}
        run: coverage run -m pytest
      - name: "游냖 游댳 generate coverage xml 游댳 游냀 3.9 游댳 C++ 游댮 "
        if: ${{ matrix.python-version == '3.9' && matrix.os == 'ubuntu-latest' && matrix.cpp-on == '游댮'}}
        run: coverage xml
      - name: "游냖 游댳 generate coverage report 游댳 游냀 3.9 游댳 C++ 游댮 "
        if: ${{ matrix.python-version == '3.9' && matrix.os == 'ubuntu-latest' && matrix.cpp-on == '游댮'}}
        run: coverage report
      - name: "游냖 游댳 upload coverage to codecov.io 游댳 游냀 3.9 游댳 C++ 游댮 "
        if: ${{ matrix.python-version == '3.9' && matrix.os == 'ubuntu-latest' && matrix.cpp-on == '游댮'}}
        uses: codecov/codecov-action@v3
      - name: "游냖 游댳 upload coverage to Codacy 游댳 游냀 3.9 游댳 C++ 游댮 "
        if: ${{ matrix.python-version == '3.9' && matrix.os == 'ubuntu-latest' && matrix.cpp-on == '游댮'}}
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.codacy_api_token }}
          coverage-reports: coverage.xml
